@font-face {
    font-family: 'Melodrama';
    src: local('Melodrama Semibold'), local('Melodrama-Semibold'),
        url('Melodrama-Semibold.woff2') format('woff2'),
        url('Melodrama-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }